@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 92% 94%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 195 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 197 80% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 197 80% 88%;
    --muted-foreground: 224 20% 46%;
    --accent: 146 50% 36%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 80%;
    --input: 197 50% 84%;
    --ring: 195 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 197 92% 94%;
    --card: 224 71% 6%;
    --card-foreground: 197 92% 94%;
    --popover: 224 71% 4%;
    --popover-foreground: 197 92% 94%;
    --primary: 195 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 197 92% 94%;
    --muted: 224 71% 10%;
    --muted-foreground: 224 20% 60%;
    --accent: 146 50% 36%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 15%;
    --input: 224 71% 15%;
    --ring: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
